#contact{

	h3{
		margin-bottom:1em;
	}

	li{
		margin-bottom: 0.5em;
	}

	a{
		text-decoration: none;
	}

	li.email a{
		@include icon-before($icon-email);
	}

	li.phone a{
		@include icon-before($icon-phone);
	}

	li.linkedin a{
		@include icon-before($icon-linkedIn);
	}

}

@include breakpoint($Medium){

	#contact{

		width:49%;
		float:right;
		margin-top:4.4em;
	}

}