@import 'bourbon/bourbon';
@import 'lib/reset';
@import 'lib/icons';
@import 'lib/mixins';

$DividerColor : #DDD;
$Medium: 600px;
$BreakpointMedium : $Medium;


@import 'typography';
@import 'structure';
@import 'global';
@import 'header';
@import 'intro';
@import 'contact';
@import 'history';
@import 'qualifications';

@import 'print';

