#history{

	margin-top:2em;
	padding-top:2em;
	border-top:1px solid $DividerColor;

	h1{
		margin-bottom: 1em;
	}

	h2{
		margin-top:1em;
	}

	h2:first-child{
		margin-top: 0;
	}

	h3{
		margin-bottom:0.8em;
	}

	p{
		margin:0;
	}

	p.link{
		margin:0.5em 0 1.5em 0;
	}


}

@include breakpoint($Medium){

	#history{
		clear:both;
	}

}