@media print{

  body{
    font-size: 12px;
  }

  main{
    margin:0;
    padding:1em;
  }

  main:before,
  main:after
  {
    display:none;
  }

  #contact{
    a:after{
      display:none;
    }

    .linkedin{
      display:none;
    }
  }

  #history{
    a{
      font-size:0;
      color:#FFF;
    }

    a:after{
      font-family: inherit;
      font-size: 12px;
      content : '[' attr(href) ']';
    }
  }
}