main{
	@include box-sizing(border-box);
	width:100%;
	max-width:800px;
	margin:0 auto;
	padding:1em;
}

header, section{
	@include box-sizing(border-box);
	width:100%;
	margin-bottom:2em;
}

@include breakpoint($Medium){

	main{
		margin:2em auto;
		padding:2em;
	}

}